.connectWallet {
  position: absolute;
  right: 4rem;
}

.giveAwayDiv {
  background: var(--clr-yellow-2);
  border: 3.5px solid #1b1a17;
  box-shadow: 9.68px 9.68px 0px #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  display: "flex";
  flex-direction: "column";
  align-items: "center";
  justify-content: "center";
  transition: all 0.25s ease-in-out;
}

.giveAwayDiv:hover{
border: 4.5px solid #1b1a17;
box-shadow: 9.68px 9.68px 0px green;

}

.greenButton {
  background-color: #54cd4a;
  border: 5.31973px solid #000000;
  box-sizing: border-box;
  border-radius: 21.5427px;
  cursor: pointer;
}

.greenButton2 {
  background-color: #54cd4a;
  border: 5.31973px solid #000000;
  box-shadow: 9.68px 9.68px 0px #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  cursor: pointer;
}

.giveawayDataDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.textField {
  background-color: #f9e286;
  border: none;
  outline: none;
}

.greenCircle {
  border-radius: 100%;
  border: 2px solid black;
  background-color: #00d94a;
  animation-name: colorChange;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes colorChange {
  0% {
    background-color: #0c5700;
  }
  50% {
    background-color: #24ff00;
  }
  100% {
    background-color: #0c5700;
  }
}

.activeTab {
  box-shadow: 0 15px 5px -6px gold;
  transition: all 0.25s ease-in-out;
}

.nonActiveTab {
  transition: all 0.25s ease-in-out;
}

.activeTab:hover{
  transform: scale(1.1);
}

.nonActiveTab:hover{
  transform: scale(1.1);
}
.metaDataDiv {
  background: var(--clr-yellow-2);
  border: 3.5px solid #1b1a17;
  box-shadow: 9.68px 9.68px 0px #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  display: "flex";
  flex-direction: "column";
  align-items: "center";
  justify-content: "center";
}
