:root {
  --clr-yellow-1: #f6c90e;
  --clr-yellow-2: #f9e286;
  --clr-blue: #0f111a;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mainBg {
  background-color: var(--clr-blue);
  height: 100vh;
  width: 100%;
}

.mainBg2 {
  background-color: var(--clr-blue);
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

.leftBg {
  background-color: var(--clr-blue);
  height: 100vh;
  width: 100%;
  background-image: url("../img/Vector1.png");
  background-size: 50rem 50rem;
  background-repeat: no-repeat;
  background-position: left;
}

.rightBg {
  background-color: var(--clr-blue);
  height: 100vh;
  width: 100%;
  background-image: url("../img/Vector2.png");
  background-size: 50rem 50rem;
  background-repeat: no-repeat;
  background-position: right;
}

.whiteText {
  font-family: Hand Drawn Shapes;
  color: white;
}

.yellowText {
  font-family: Guava Candy;
  color: var(--clr-yellow-1);
}

.blackText {
  font-family: Gunplay;
  font-weight: 400;
  color: black;
}

.blackGuava {
  font-family: Guava Candy;
  color: black;
  font-weight: 500;
}

.normalText {
  font-family: Hand Drawn Shapes;
  color: black;
}

.nftWhite {
  font-family: Guava Candy;
  color: white;
  font-weight: 500;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.button {
  background: var(--clr-yellow-2);
  border: 5.84px solid #1b1a17;
  box-shadow: 11.68px 11.68px 0px #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  cursor: pointer;
}

.button2 {
  background: var(--clr-yellow-2);
  border: 3.5px solid #1b1a17;
  box-shadow: 9.68px 9.68px 0px #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}

.singleNft {
  border: 5px solid #1b1a17;
  box-shadow: -10px -10px 40px 10px rgba(255, 227, 56, 0.75),
    10px 10px 40px 10px rgba(255, 227, 56, 0.75);
  border-radius: 40px;
  transform: scale(0.7);
}

.tapButton {
  transition: all 0.4s ease-in-out;
}

.tapButton:hover {
  transform: scale(1.1);
  border: 6.84px solid black;
  box-shadow: 10.68px 10.68px 0px #ffffff;
}

.tapButton2 {
  transition: all 0.4s ease-in-out;
}

.tapButton2:hover {
  transform: scale(1.04);
  border: 6.84px solid black;
}

.singleNft1 {
  background: #00f260;
  background: -webkit-linear-gradient(to right, #0575e6, #00f260);
  background: linear-gradient(to right, #0575e6, #00f260);
}
.singleNft2 {
  background: linear-gradient(
    90.19deg,
    #800080 46.09%,
    rgba(255, 192, 203, 0.91) 99.85%
  );
}

.singleNft3 {
  background: linear-gradient(
    90.54deg,
    #0f0c29 8.07%,
    rgba(48, 43, 99, 0.958938) 47.94%,
    rgba(36, 36, 62, 0.91) 88.31%
  );
}
.singleNft4 {
  background: linear-gradient(
    90.54deg,
    #0f0c29 8.07%,
    rgba(48, 43, 99, 0.958938) 47.94%,
    rgba(36, 36, 62, 0.91) 88.31%
  );
}
.singleNft5 {
  background: linear-gradient(
    89.59deg,
    #40e0d0 5.89%,
    rgba(255, 0, 128, 0.91) 73.72%
  );
}
.singleNft6 {
  background: linear-gradient(
    90.41deg,
    #333333 -3.04%,
    rgba(221, 24, 24, 0.91) 52.17%,
    rgba(51, 51, 51, 0.91) 105.57%
  );
}
.singleNft7 {
  background: linear-gradient(
    89.67deg,
    #111f3e 25.46%,
    rgba(0, 86, 224, 0.91) 99.69%
  );
}
