:root {
  --clr-yellow-1: #f6c90e;
  --clr-yellow-2: #f9e286;
  --clr-blue: #0f111a;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mainBg {
  background-color: var(--clr-blue);
  height: 100vh;
  width: 100%;
  background-image: url("../img/confetti.gif");
  background-size: 90rem 80rem;
  background-repeat: no-repeat;
  background-position: center;
}

.mainBg2 {
  background-color: var(--clr-blue);
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-image: url("../img/confetti.gif");
  background-size: 90rem 80rem;
  background-repeat: no-repeat;
  background-position: top;
  background-position-y: -10rem;
}

.leftBg {
  background-color: var(--clr-blue);
  height: 100vh;
  width: 100%;
  background-image: url("../img/Vector1.png");
  background-size: 50rem 50rem;
  background-repeat: no-repeat;
  background-position: left;
}

.rightBg {
  background-color: var(--clr-blue);
  height: 100vh;
  width: 100%;
  background-image: url("../img/Vector2.png");
  background-size: 50rem 50rem;
  background-repeat: no-repeat;
  background-position: right;
}

.whiteText {
  font-family: Hand Drawn Shapes;
  color: white;
}

.yellowText {
  font-family: Guava Candy;
  color: var(--clr-yellow-1);
}

.blackText {
  font-family: Gunplay;
  font-weight: 400;
  color: black;
}

.blackGuava {
  font-family: Guava Candy;
  color: black;
  font-weight: 500;
}

.normalText {
  font-family: Hand Drawn Shapes;
  color: black;
}

.nftWhite {
  font-family: Guava Candy;
  color: white;
  font-weight: 500;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.guideText {
  font-family: "Josefin Sans", cursive;
  font-weight: 500;
  letter-spacing: 2px;
  color: white;
}

.button {
  background: var(--clr-yellow-2);
  border: 5.84px solid #1b1a17;
  box-shadow: 11.68px 11.68px 0px #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  cursor: pointer;
}

.button2 {
  background: var(--clr-yellow-2);
  border: 3.5px solid #1b1a17;
  box-shadow: 9.68px 9.68px 0px #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}

.singleNft {
  border: 5px solid #1b1a17;
  box-shadow: -4px -4px 60px -20px rgba(255, 227, 56, 0.75),
    4px 4px 60px -20px rgba(255, 227, 56, 0.75);
  border-radius: 40px;
  /* transform: scale(0.7); */
}

.tapButton {
  transition: all 0.4s ease-in-out;
}

.tapButton:hover {
  transform: scale(1.1);
  border: 6.84px solid black;
  box-shadow: 10.68px 10.68px 0px #ffffff;
}

.tapButton2 {
  transition: all 0.4s ease-in-out;
}

.tapButton2:hover {
  transform: scale(1.04);
  border: 6.84px solid black;
}

.singleNft1 {
  background: #00f260;
  background: -webkit-linear-gradient(to right, #0575e6, #00f260);
  background: linear-gradient(to right, #0575e6, #00f260);
}
.singleNft2 {
  background: linear-gradient(
    90.19deg,
    #800080 46.09%,
    rgba(255, 192, 203, 0.91) 99.85%
  );
}

.singleNft3 {
  background: linear-gradient(
    90.54deg,
    #0f0c29 8.07%,
    rgba(48, 43, 99, 0.958938) 47.94%,
    rgba(36, 36, 62, 0.91) 88.31%
  );
}
.singleNft4 {
  background: linear-gradient(
    90.54deg,
    #0f0c29 8.07%,
    rgba(48, 43, 99, 0.958938) 47.94%,
    rgba(36, 36, 62, 0.91) 88.31%
  );
}
.singleNft5 {
  background: linear-gradient(
    89.59deg,
    #40e0d0 5.89%,
    rgba(255, 0, 128, 0.91) 73.72%
  );
}
.singleNft6 {
  background: linear-gradient(
    90.41deg,
    #333333 -3.04%,
    rgba(221, 24, 24, 0.91) 52.17%,
    rgba(51, 51, 51, 0.91) 105.57%
  );
}
.singleNft7 {
  background: linear-gradient(
    89.67deg,
    #111f3e 25.46%,
    rgba(0, 86, 224, 0.91) 99.69%
  );
}

.singleNft8 {
  background: linear-gradient(
    91.11deg,
    #1f4037 33.58%,
    rgba(10, 126, 78, 0.956594) 66.16%,
    rgba(72, 197, 138, 0.91) 101.14%
  );
}

.singleNft9 {
  background: linear-gradient(
    91.11deg,
    #aa4b6b 33.58%,
    rgba(107, 107, 131, 0.956594) 66.16%,
    rgba(59, 141, 153, 0.91) 101.14%
  );
}

.singleNft10 {
  background: linear-gradient(
    89.81deg,
    #1f1c2c 33.25%,
    rgba(59, 141, 153, 0.91) 101.32%
  );
}

.singleNft11 {
  background: linear-gradient(
    90.41deg,
    #ee0979 0.37%,
    rgba(255, 106, 0, 0.91) 101.15%
  );
}

.singleNft12 {
  background: linear-gradient(
    90.41deg,
    #9cecfb 0.37%,
    rgba(101, 199, 247, 0.956594) 48.97%,
    rgba(0, 82, 212, 0.91) 101.15%
  );
}

.singleNft13 {
  background: linear-gradient(
    91.53deg,
    #dce35b 3.36%,
    rgba(0, 82, 212, 0.91) 100.22%
  );
}

.singleNft14 {
  background: linear-gradient(
    91.53deg,
    #200122 3.36%,
    rgba(111, 0, 0, 0.91) 40.49%
  );
}

.singleNft15 {
  background: linear-gradient(
    91.53deg,
    #1a2a6c 3.36%,
    rgba(178, 31, 31, 0.91) 50.58%,
    rgba(253, 187, 45, 0.91) 100.22%
  );
}

.scrollYourNft {
  height: 80vh;
  width: 90%;
  overflow: scroll;
}
.scrollYourNft::-webkit-scrollbar {
  display: none;
}

.gif {
  border: 3px solid white;
  box-shadow: -4px -4px 50px -10px rgba(255, 227, 56, 0.75),
    4px 4px 50px -10px rgba(255, 227, 56, 0.75);
  border-radius: 40px;
}

.gifAnim {
  transform: translateY(0px);
  animation: floatGif 10s ease-in-out infinite;
}

@keyframes floatGif {
  0%,
  100% {
    transform: translateY(40px);
  }
  50% {
    transform: translateY(-40px);
  }
}

.guideTitle {
  font-family: Hand Drawn Shapes;
  color: white;
  animation: colorChange2 2s ease-in-out infinite;
}

@keyframes colorChange2 {
  0%,
  100% {
    color: white;
  }
  50% {
    color: var(--clr-yellow-1);
  }
}

.guideTitle2 {
  font-family: Hand Drawn Shapes;
  color: var(--clr-yellow-1);
  animation: colorChange3 2s ease-in-out infinite;
}

@keyframes colorChange3 {
  0%,
  100% {
    color: var(--clr-yellow-1);
  }
  50% {
    color: white;
  }
}

.nftHover {
  transition: all 0.4s ease-in-out;
}

.nftHover:hover {
  transform: scale(1.05);
}
